#dependencies
/node_modules
/node_modules/.bin
/node_modules/.bin/webpack
/node_modules/.bin/webpack-dev-server
/node_modules/.bin/webpack-cli
/node_modules/.bin/webpack-merge
/node_modules/.bin/babel-cli
/node_modules/.bin/babel-preset-env
/node_modules/.bin/babel-preset-react
/node_modules/.bin/babel-preset-stage-0
/node_modules/.bin/babel-preset-stage-2
/node_modules/.bin/babel-preset-stage-3
/node_modules/.bin/babel-preset-stage-4
/node_modules/.bin/babel-preset-stage-5
/node_modules/.bin/babel-preset-stage-6
/node_modules/.bin/babel-preset-stage-7
/node_modules/.bin/babel-preset-stage-8
/node_modules/.bin/babel-preset-stage-9
/node_modules/.bin/babel-preset-stage-10

#local env files
/backend/config/config.env
/backend/config/config.local.env
/backend/config/config.test.env
/backend/config/config.dev.env
/backend/config/config.prod.env
/backend/config/config.staging.env
/backend/config/config.uat.env
/backend/config/config.qa.env
/backend/config/config.preprod.env
/backend/config/config.preprod2.env
/backend/config/config.preprod3.env
/backend/config/config.preprod4.env
/backend/config/config.preprod5.env
/backend/config/config.preprod6.env
/backend/config/config.preprod7.env
/backend/config/config.preprod8.env
/backend/config/config.preprod9.env
/backend/config/config.preprod10.env